.head{
background-image: url("https://static.ladipage.net/593a6013f36501c8396f5849/logo-techkids-moi-7-1-136x53-1554348163.png");
width:400px;
height: 240px;
background-repeat: no-repeat;
background-position: center;
background-size:100%;
margin-right: auto ;
margin-left: auto
}

#title{
color: rgb(255, 0, 8);
text-align: center;
background-color: aqua;
background-size: 200px;
}
#titlestart{ font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;

}

.btn{
    text-align: start;
}

.container{

width: 500px;
margin: 10px auto;
border:1px solid #333 ;
}


.contentregister{

margin: 20px 20px 0px 20px;

}
.labelregister{
color: blue;
font-family: serif;

}
.registerinput{
width: 100%;
padding: 0 6px;

}
.sexinput{
    margin-left: 30px;
}
#noteand{
    text-align: center;
    color:rgb(13, 180, 58) ;
}
#btnregister{
border: 3px solid rgb(29, 23, 209);
margin-left: 200px;
margin-right: auto;
}
.contact{
width: 100%;
height: 200px;
background-color: #888;



}
.contactadm{text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.contactol{display: block;}
    
#contacttitle{font-family: sans-serif;
    color: rgb(127, 15, 73);
    margin-left: 30%;
    margin-right: 500px;
    border: 3px solit red;
}
.titlead{
     
}
.fbt{margin-left: 40%;
display: flex;}
.nationality{margin-top: 3px;
margin-bottom: 3px;

}